<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>IOCL-Quiz</display-name>
    <context-param>
        <param-name>snConfigFile</param-name>
        <param-value>c:/snConfig/snConfigIOCLQUIZWRO.ini</param-value>
    </context-param>
    <context-param>
        <param-name>snConfigFile-Linux</param-name>
        <param-value>/user1/snConfig/snConfigIOCLQUIZWRO.ini</param-value>
    </context-param>
    <context-param>
        <param-name>ApplicationName</param-name>
        <param-value>MI</param-value>
    </context-param>
    <context-param>
        <param-name>ProjectName</param-name>
        <param-value>/CustomQuiz</param-value>
    </context-param>
    <context-param>
        <param-name>server-IP</param-name>
        <param-value>http://10.147.69.98:8081</param-value>
    </context-param>
    <listener>
        <description>Listens and retrieves Configuration File Name</description>
        <listener-class>config.snConfigFile</listener-class>
    </listener>
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://spandan.indianoil.co.in/JaanasiMaamVaa/login</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://10.147.69.98:8081</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas10TicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://spandan.indianoil.co.in/JaanasiMaamVaa</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://10.147.69.98:8081</param-value>
        </init-param>
        <init-param>
            <param-name>redirectAfterValidation</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- ########################################################################### SuN - 2010-06-21 - } #######  -->
    <!--    <servlet>
        <servlet-name>timeKeeper</servlet-name>
        <servlet-class>com.iocl.controllers.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timeKeeper</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>UserLogged</servlet-name>
        <servlet-class>com.iocl.controllers.UserLogged</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveQuesList</servlet-name>
        <servlet-class>com.iocl.controllers.RetrieveQuesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultController</servlet-name>
        <servlet-class>com.iocl.controllers.ResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getResultController</servlet-name>
        <servlet-class>com.iocl.controllers.getResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionExcelList</servlet-name>
        <servlet-class>com.iocl.controllers.questionExcelList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>com.iocl.controllers.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empResultDetails</servlet-name>
        <servlet-class>com.iocl.controllers.empResultDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionDetails</servlet-name>
        <servlet-class>com.iocl.controllers.questionDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>com.iocl.controllers.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employeeController</servlet-name>
        <servlet-class>com.iocl.controllers.employeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>com.iocl.controllers.FeedbackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogged</servlet-name>
        <url-pattern>/UserLogged</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveQuesList</servlet-name>
        <url-pattern>/RetrieveQuesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultController</servlet-name>
        <url-pattern>/ResultController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getResultController</servlet-name>
        <url-pattern>/getResultController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionExcelList</servlet-name>
        <url-pattern>/questionExcelList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empResultDetails</servlet-name>
        <url-pattern>/empResultDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionDetails</servlet-name>
        <url-pattern>/questionDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employeeController</servlet-name>
        <url-pattern>/employeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsps/validatelogin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
